**Data Types and Structures Questions**

1. What are data structures, and why are they important?
**Ans-** Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

The data structures are important for:

*Simplifying data manipulation (adding, removing, modifying elements)

*Optimizing searching and sorting operations

*Conserving memory usage

2.  Explain the difference between mutable and immutable data types with examples.
**Ans-** Mutable data types are those which can be modified without changing their identity. Example- lists, dict, set

Immutable data types are those which cannot be modified. Examples- int, tuple, bool, frozenset.

3. What are the main differences between lists and tuples in Python?
**Ans-**  Tuples are immutable because once it is created, you cannot change its values while lists are mutable. Tuples use parenthesis not a square bracket.

4. Describe how dictionaries store data.
**Ans-** Dictionaries store data in key-value pairs using a hash table, where keys are hashed to determine storage location for fast lookup.

5. Why might you use a set instead of a list in Python ?
**Ans** We can use a set instead of a list in python when:


*   We want uniqeness.

*   We want fast membership cheques.
*   We do not want multiple user interference.

6. What is a string in Python, and how is it different from a list?
**Ans-** Characters arranged in an unchangeable order, considering writing a sentence, a paragraph, or a piece of material is known as string.
String is a sequence of characters and List is a sequence of any data type including intezers, strings and even other data types.

7. How do tuples ensure data integrity in Python?
**Ans** Tuples ensure data integrity in Python by being immutable, which means their content cannot be changed, preventing accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
**Ans-**  A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index.
Dictionaries use hash tables internally to store and retieve key-value pairs efficiently.

9. Can lists contain different data types in Python?
**Ans** Yes, lists in Python contain different data types, such as integers, strings, floats, etc. all in same list.

10. Explain why strings are immutable in Python.
**Ans** Strings are immutable in Python to ensure data integrity, security and performance (once they are created, they cannot be changed) which makes them safe for use.

11. What advantages do dictionaries offer over lists for certain tasks?
**Ans** Dictionaries offer several advantages over lists for certain tasks:


1.   Faster lookups
2.   Key-based access

3.   Unorderd flexibility
2.   No need to search

12. Describe a scenario where using a tuple would be preferable over a list.
**Ans** Tuples are immutable.  Tuples can be used if you want the data in your collection to be read-only, never to change. Tuples are more memory efficient than lists.

13. How do sets handle duplicate values in Python?
**Ans** By automatically removing duplicate values. They only store unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?
**Ans** In LISTS, it checks if a value exists in the list.

In DICTIONARIES, it checks if a key exists in the dictionary(not values).

15. Can you modify the elements of a tuple? Explain why or why not?
**Ans** No, we cannot modify the elements of a tuple because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
**Ans** Nested dictionary is a dictionary inside another dictionary. It allows you to store complex, hierarchial data in a structured way.

Its use case:


*   Student records

*   Employee databases
*   Config files or settings

17. Describe the time complexity of accessing elements in a dictionary.
**Ans** Dictionary typically has an average time complexity of O(1).

18. In what situations are lists preferred over dictionaries?
**Ans** Situations where lists are preferred over dictionaries:


1.   When the sequence of item is important.

1.   Index-based keys.

1.   Lists allow duplicate values.
2.   Lightweight structure.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
**Ans** Dictionaries are considered unordered because they didn't maintain insertion order. But this does not affect fast key-based retrieval.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
**Ans** Lists retrieve data using **index number** which can be slower process.
Dictionaries use **keys** to access values, making lookups much faster.
So, use lists when order matters and dictionaries when you need quick access by name or label.

# **PRACTICAL QUESTIONS**

1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Shruti"
print("My name is", my_name)

My name is Shruti

2. Write a code to find the length of the string "Hello World".

In [ ]:
str = "Hello World"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "Python  Programming".

In [ ]:
text = "PythonProgramming"
sliced_text = text[:3]
print(sliced_text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("list of numbers:", numbers)

list of numbers: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers  = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
str = ['a', 'b', 'c', 'd']
print(str[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

  

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
numbers1 = {1, 2, 3}
numbers2 = {3, 4, 5}
union = numbers1.union(numbers2)
print(union)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
numbers1 = {1, 2, 3}
numbers2 = {2, 3, 4}
intersection = numbers1.intersection(numbers2)
print(intersection)

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "Shruti",
          "age": 20,
          "city": "Rewari"}
print(person)

{'name': 'Shruti', 'age': 20, 'city': 'Rewari'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
info = {'name': 'John', 'age': 25}
info['country'] = 'USA'
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
Alice = {'name': 'Alice', 'age': 30}
print(Alice['name'])

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
bob = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del bob['age']
print(bob)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
alice = {'name': 'Alice', 'city': 'Paris'}
print('city' in alice)

True

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = ["apple", "banana", "cherry"]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: ['apple', 'banana', 'cherry']
Tuple: (1, 2, 3, 4, 5)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
my_list = [40, 18, 66, 90, 80]
my_list.sort()
print(my_list)

[18, 40, 66, 80, 90]

28.  Write a code to create a list with strings and print the element  at the third index.

In [ ]:
my_list = ["apple", "cherry", "litchi", "strawberry"]
print("element at index 3:", my_list[3])

strawberry

29.  Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
list = ["science", "commerce", "arts", "science", "commerce"]
unique_list = set(list)
print("unique list:", unique_list)

unique list: {'commerce', 'science', 'arts'}